body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}

#root {
  padding: 50px;
  padding-top: 20px;
}

.kanban-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.kanban-title {
  text-align: center;
  font-size: 40px;
  font-weight: bolder;
  margin-bottom: 40px;
}

.kanban-board {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  overflow-x: auto;
  width: 100%;
}

.kanban-column {
  background-color: #afd7ff;
  border-radius: 10px;
  width: 23%;
  padding: 10px;
  box-sizing: border-box;
  margin-right: 20px;
  min-height: 350px;
}

.kanban-column:last-child {
  margin-right: 0;
}

.kanban-column h2 {
  font-size: 30px;
  text-align: center;
  margin-bottom: 30px;
}

.kanban-card {
  background-color: #fff;
  border-radius: 4px;
  padding: 25px;
  margin-bottom: 10px;
  margin: 0px 10px 10px;
  box-shadow: 0 5px 0 rgba(137, 126, 126, 0.25);
}

.add-task {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-task-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: #3e5eb0;
  border-radius: 50%;
  color: white;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  margin-top: 90px;
}

.add-task input {
  margin-top: 10px;
  padding: 5px;
}

@media (max-width: 1200px) {
  .kanban-column {
    width: 45%;
  }
}

@media (max-width: 768px) {
  .kanban-column {
    width: 100%;
  }
}
